<div>
    <%= flash[:notice] %>
</div>

<strong>Title:</strong>
<p><%= @book.title %></p>

<strong>Body:</strong>
<p><%= @book.body %></p>

<p><a href="/books">Back</a></p>
<%= link_to "Edit", edit_book_path(@book.id) %>